button {
  height: var(--min-tap-size);

  &.button-icon {
    width: var(--min-tap-size);
  }

  @media (min-width: 768px) {
    white-space: nowrap;

    &:not(.button-icon) {
      padding-inline: 1.2em;
    }
  }
}

.button-with-icon {
  @media (max-width: 767px) {
    width: var(--min-tap-size);
    text-align: center;

    i + * {
      display: none;
    }
  }

  @media (min-width: 768px) {
    white-space: nowrap;
    text-align: start;

    &:not(.button-icon) {
      padding-inline: 1.2em;
    }
  }

  i {
    display: inline-block;
    width: 1.25em;
    text-align: center;

    @media (min-width: 768px) {
      margin-right: 0.25rem;
    }
  }
}
