input:not([type='checkbox']):not([type='radio']):not([type='file']),
select {
  height: var(--min-tap-size);
  width: var(--input-width-default);
  padding-inline: var(--input-padding-inline-default);
}

.input-label {
  line-height: var(--min-tap-size);
}

.input-with-icons {
  --input-icon-padding: 0.5rem;
  --input-placeholder-padding: 1.75rem;
  --input-width: calc(
    var(--input-width-default) + var(--input-placeholder-padding)
  );

  &:has(.icon-left):has(.icon-right) {
    --input-width: calc(
      var(--input-width-default) + 2 * var(--input-placeholder-padding)
    );
  }

  position: relative;

  input {
    width: var(--input-width);
    max-width: 100%;

    &:placeholder-shown {
      text-overflow: ellipsis;
    }
  }

  .icon-right,
  .icon-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .icon-left {
    left: var(--input-icon-padding);
  }

  .icon-right {
    right: var(--input-icon-padding);
  }

  &:has(.icon-left) input {
    padding-left: var(--input-placeholder-padding);
  }

  &:has(.icon-right) input {
    padding-right: var(--input-placeholder-padding);
  }
}

.input-error-message {
  min-height: 2em;
  line-height: 2em;
  font-size: small;
  color: var(--input-error)
}
